body {
	overflow: hidden;
	font-family: PostGrotesk,sans-serif,San Francisco,Roboto,Segoe UI Bold,Arial,sans-serif;
}

#google-maps-container {
	height:auto;
	margin:auto;
	width:100%;
	min-height:95%;
}

#main-container {
	margin:5px;
	width:100%;
	height:100%;
	overflow:hidden;
}

.infobox-link {
	text-decoration: none;
	color: blue;
}

.descrip-label {
	font-weight: bold;
	text-decoration: underline;
	color:#000000;
}

#selector-container {
	width: 100%;
	margin:auto;
	margin:0px auto 5px auto;
	height:auto;
}

#copyright-container {
	width: 100%;
	margin: auto;
	position: relative;
	color:#000000;
}

#copyright-text {
	position: absolute;
	font-size: 9pt;
	right: 0;
}

.container-main-sub {
	width: 200px;
	padding:0px 1px 0px 1px;
	padding:0px 1px 0px 1px;
	float:left;
	position:relative;
	min-height:400px;
	height:auto;
	margin-top:1px;
	margin-right:3px;
	margin-left:3px;
}

.container-main-sub a {
	color:#F70925;
	font-weight:bold;
}

#main-map-region {
	height: 100%;
	width: 90%;
	float: left;
	position: relative;
}

/* begin width-sensitive media tags */


@media only screen and (max-width: 1023px) {
	#search-container {
		display:none;
	}
}

@media only screen and (max-width: 700px) {
	#widget-container {
		display:none;
	}
}

/* end width-sensitive media tags */

.container-heading {
	font-size:10pt;
	font-weight:bold;
	text-align:center;
}

.container-element {
	min-height:200px;
	margin-bottom:1px;
	opacity:.8;
	color:#E49307;
}

#right-container-element-top {
	background-color:#000000;
   	padding:3px 0px 3px 0px;
   	min-height:200px;
	width:100%;
   	overflow:auto;
	font-size:12px;
}

#right-container-element-middle{
	background-color:#222222;
    height:200px;
	width:100%;
    overflow:hidden;
}

#right-container-element-bottom {
	background-color:#333333;
    height:200px;
	width:100%;
    overflow:hidden;
}


#header {
	border-radius:12px;
	margin-left:1px;
	margin-bottom:2px;
	padding:10px;
	width:99%;
	background-color:#ffffcc;
	font-weight:bold;
	color:#000033;
	height:28px;
}

#total-job-count {
	background-color:#ffffcc;
	font-weight:bold;
	color:#0e5b24;
	float:left;
	display:none;
	width:auto;
	margin-right:5px;
	padding-top:5px;
}

#progress {
	float:left;
	margin-top:5px;
    width:60px;
	height:17px;
	display:none;
}

#city-selector-container {
	position:relative;
	float:left;
	margin-right:3px;
}

#cat-selector-container {
	position:relative;
	float:left;
	margin-right:3px;
}

#cat-selector {
	width:200px;
}

#search-container {
	position:relative;
	float:left;
	margin-right:3px;
}

#main-search-text {
   background: transparent;
   height: 23px;
   width: 225px;
   margin-right:3px;
}

#main-search {
	line-height:inherit;
	margin-top:5px;
	float:right;
	width:25px;
	cursor:pointer;
	margin-right:3px;
}

.close-item-container {
	position:absolute;
	cursor:pointer;
	color:blue;
	right:0;
	top:0;
}

.close-item-container:hover {
	color:red;
}

.job-profile-item-content {
	padding:5px;
	margin:5px;
	position:relative;
	background-color:#FFFFFF;
}

.button-add-to-profile {
	text-align:center;
	margin-top:5px;
	width:115px;
	height:15px;
	background-color:#000000;
	color:#FF9900;
	font-weight:bold;
	cursor:pointer;
	padding:8px;
	opacity:.8;
}

strong.extra-text {
	color:#000000;
}

.right-menu-item {
	cursor:pointer;
	position:relative;
	float:right;
	width:25px;	
}

#list-image {
}

#legend-image {

}

#mobile-menu-image {
	display:none;
}

#map-image {
	display:none;
}

#main-list-region {
	clear:both;
	color:#000000;
	height:100%;
	margin:auto;
	width:100%;
	min-height:95%;
	overflow:scroll;
	display:none;
}

.jobright_link {
	cursor:pointer;
	color:#6991FD;
}



.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 28px;
   width: 225px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

#widget-container {
	width:75%;
	position:absolute;
	float:left;
}

#right-container {
	width:11%;
	position:relative;
	float:right;
	margin-right:3px;
}

